[submodule "scorep_plugin_cxx_wrapper"]
	path = scorep_plugin_cxx_wrapper
	url = https://github.com/score-p/scorep_plugin_cxx_wrapper
[submodule "scorep_plugin_common"]
	path = scorep_plugin_common
	url = https://github.com/score-p/scorep_plugin_common
[submodule "tracefile"]
	path = tracefile
	url = https://gitlab.hrz.tu-chemnitz.de/cherold--tu-dresden.de/tracefile.git
